img{
	max-width: 100%;
}
a:hover{
	text-decoration:none;
}
.align_left{
	float:left;
	margin-right:15px;
}
.align_right{
	float:right;
	margin-left:15px;
}
.align_center{
	float:none;
	margin:0 auto;
}
body{
	font-family: 'Roboto', sans-serif;
	
}

.header_area {
}

.header {
}


.logo {
	margin:30px 0;
}

.header_right{
	text-align:right;
	color:#888888;
	font-size:12px;
	margin-top:35px;
}

.header_right i{
	margin-right:5px;
}
.header_right i.fa-envelope{
	margin-left:30px;
}

.mainmenu_area {
	border-top:1px solid #E9E9E9;
	border-bottom:1px solid #E9E9E9;
}

.mainmenu ul#nav{
	margin:0;
	padding:0;
	list-style:none;
	min-height:50px;
	border-left:1px solid #E9E9E9;
}
.mainmenu ul#nav li{
	float:left;
	border-right:1px solid #E9E9E9;
	position:relative;
	
}
.mainmenu ul#nav li  a{
	font-size:15px;
	color:#666666;
	text-transform:uppercase;
	display:block;
	padding:20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:700;
	text-decoration:none;
		
}
.mainmenu ul#nav li  a:hover{
		list-style:none;}

.mainmenu ul#nav li ul{
	background: #2d3134 none repeat scroll 0 0;
	left: -999px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 62px;
	width: 190px;
	list-style: none;
	
	
}
.mainmenu ul#nav li:hover ul{
	left: 0px;
	
}
.mainmenu ul#nav li ul li{
	border-bottom:1px solid #000;
	border-right:0px solid;
	float:none;
	text-align:center;
}
.mainmenu ul#nav li ul li a{
	color:#fff;
	display:block;
	padding:10px 20px;
	text-decoration:none;
}
.mainmenu ul#nav li ul li a:hover{color:#FB6C66}

/* 

font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;

 */

ul#social_profile {
	margin:0;
	padding:0;
	list-style:none;
	text-align:right;
	margin-top:20px;
}
ul#social_profile li {
	display:inline;
}
ul#social_profile li a{
	border: 1px solid #bdbdbd;
	border-radius: 50px;
	color: #888888;
	display: inline-block;
	height: 25px;
	margin-left: 5px;
	text-align: center;
	width: 25px;
}
ul#social_profile li a:hover{
	color:#FB6C66;
	border: 1px solid #FB6C66;
}


.slider_area {
}

.slider_area > img {
}

.promotion_area {
	border-bottom:1px solid #E8E8E8;
	padding:40px 0;
}

.promotion {

}
.promotion h2{
	font-family: 'Roboto Slab', serif;
	font-size:28px;
	text-align: center;
	color:#616161;
	font-weight: 700;
}
.promotion h2 span{
	color: #fa6c65;
}
.promotion {
	color: #616161;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	font-weight: 300;
	padding: 0 130px;
	text-align: center;
}
.square_promotion{
	width:900px;
	margin:0 auto;
	
}
.single_promotion {
	float: left;
	margin: 40px 20px;
	text-align: center;
	width: 185px;
	position:relative;
}
.single_promotion a{
	color:#BBBBBB;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:700;
}
.single_promotion i{
	border: 1px solid #bbbbbb;
	border-radius: 500px;
	color: #bbbbbb;
	font-size: 20px;
	height: 100px;
	padding: 20% 0;
	text-align: center;
	width: 100px;
	margin: 0 0 10px 0;
}
.single_promotion a p {

}
.single_promotion i:hover,.single_promotion a:hover{
	color: #fa6c65;
	border-color:#fa6c65;
}
.single_promotion:before{
	background-image:url(img/cap.png);
	display:block;
	content: "";
	height: 8px;
	left: 50%;
	margin-left: -5.5px;
	position: absolute;
	top: -3px;
	width: 11px;
}

.project_area {
	border-bottom:1px solid #E8E8E8;
	padding:40px 0;
}

.project {
}
.project h2{
	font-family: 'Roboto Slab', serif;
	font-weight:300;
	font-size:18px;
	text-align:center;
	color:#848484;
	

}
.project h2 span{
	color: #fa6c65;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 3px;
	padding-right: 15px;
	text-transform: uppercase;
}

.featured_project_area {
}

.featured_project p{
	color: #7f7f7f;
	font-family: "Roboto",sans-serif;
	font-size: 15px;
	font-weight: 300;
	padding: 20px 200px;
	text-align: center;
}
.featured_project h2{
	font-family: "Roboto Condensed",sans-serif;
	color:#fa6c65;
	font-size:16px;
	font-weight:900;
	text-align:center;
	text-transform:uppercase;
}

.footer_top_area {
background: #303538 none repeat scroll 0 0;
color: #fff;
padding: 50px 0;
	
}

.footer_top {
}
.footer_top h2{
	font-family:"Roboto Condensed",sans-serif;
	font-size:16px;
	font-weight:900;
	padding:15px 0;
}
.footer_top p{
	font-family:"Roboto Condensed",sans-serif;
	font-size:14px;
	font-weight:300;
}

.footer_area {
	font-family:"Roboto Condensed",sans-serif;
	background:#2D3134;
	padding:30px 0;
	color:#fff;
}